* {
  padding: 0px;
  margin: 0px;
}

body section {
  margin-top: 30px;
}

/* Gutter of Each Article */
.article2 .row,
.article3 .row {
  margin-left: -7px;
  margin-right: -7px;
}

.article2 .row > [class*="col-"],
.article3 .row > [class*="col-"] {
  padding-left: 7px;
  padding-right: 7px;
}
/* End of Gutter */

/*  Style of SubHeader of Each Section  */
section article header {
  justify-content: center;
  display: flex;
  margin-bottom: 30px;
}

section article header h1 {
  text-align: center;
  align-self: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
  font-weight: 900;
}
/* End Header of Section */

/* Style of Card-1 */
.card-1 {
  height: 100%;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
}

.card-1 > .card-img-top {
  height: 300px;
  background: url("../../assets/img/25.png");
  width: 100%;
  background-size: cover;
  background-position: center;
}

.card-1 > .card-body {
  padding: 2rem;
}

.card-1 > .card-body > .card-title {
  font-family: FuturaHeavy;
  font-size: 28px;
  letter-spacing: 0.82px;
}

.card-1 > .card-body > .card-subtitle {
  font-family: FuturaDemi;
  font-size: 16px;
  letter-spacing: 0.64px;
}

.card-1 > .read {
  padding: 0 2rem 1.5rem 2rem;
}

.card-1 > .read > a {
  padding-bottom: 3px;
  border-bottom: 2px solid;
  font-size: 20px;
  font-family: FuturaDemi;
  letter-spacing: 0.8px;
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
  .card-1 > .card-img-top {
    height: 240px;
  }
}

@media only screen and (max-width: 991px) {
  .card-1 {
    border-radius: 3px;
  }

  .card-1 > .card-body > .card-title {
    margin: 0;
  }

  .card-1 > .featured {
    padding: 0 2rem 1rem 2rem;
    font-weight: bold;
    margin: 0;
  }
}

@media only screen and (max-width: 576px) {
  .card-1 {
    margin-bottom: 20px;
  }

  .card-1 > .card-img-top {
    height: 250px;
  }

  .card-1 > .read {
    padding: 0;
    margin: 0;
  }

  .card-1 > .card-body {
    padding: 1.25rem;
  }

  .card-1 > .card-body > .card-subtitle {
    font-size: 14px;
  }

  .card-1 > .card-body > .card-title {
    font-size: 25px;
    margin: 0;
  }

  .card-1 > .featured {
    padding: 0 1.25rem 1rem 1.25rem;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
  }
}
/* End of Card-1 */

/* Style of Card-2 */
.card-2 {
  height: 100%;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
}

.card-2 > .card-img-top {
  height: 300px;
}

.card-2 > .card-img-top#card-image-2 {
  background: url("../../assets/img/35.png");
  background-size: cover;
  background-position: center;
}

.card-2 > .card-img-top#card-image-3 {
  background: url("../../assets/img/01.png");
  background-size: cover;
  background-position: center;
}

.card-2 > .card-body {
  padding: 2rem;
}

.card-2 > .card-body > .card-title {
  font-family: FuturaHeavy;
  font-size: 28px;
  letter-spacing: 0.82px;
  height: 90px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-2 > .card-body > .card-subtitle {
  font-family: FuturaDemi;
  font-size: 16px;
  letter-spacing: 0.64px;
}

.card-2 > .read {
  padding: 0 2rem 1.5rem 2rem;
}

.card-2 > .read > a {
  border-bottom: 1.5px solid;
  letter-spacing: 0.8px;
  font-size: 20px;
  font-family: FuturaDemi;
  text-decoration: none;
}

@media only screen and (max-width: 1200px) and (min-width: 992px) {
  .card-2 > .card-img-top {
    height: 240px;
  }
}

@media only screen and (max-width: 992px) {
  .card-2 {
    margin-bottom: 20px;
    border-radius: 3px;
  }

  .card-2 > .card-img-top {
    height: 200px;
  }

  .card-2 > .card-body > .card-title {
    margin: 0;
  }

  .card-2 > .featured {
    padding: 0 2rem 1rem 2rem;
    font-weight: bold;
    margin: 0;
  }
}

@media only screen and (max-width: 576px) {
  .card-2 > .card-img-top {
    height: 250px;
  }

  .card-2 > .card-body {
    padding: 1rem;
  }

  .card-2 > .card-body > .card-subtitle {
    font-size: 12px;
  }

  .card-2 > .card-body > .card-title {
    max-height: 56px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 18px;
    margin: 0;
  }

  .card-2 > .featured {
    padding: 0 1rem 0.75rem 1rem;
    font-size: 12px;
    font-weight: bold;
    margin: 0;
  }

  .card-2 > .card-img-top {
    height: 170px;
  }

  .card-2 > .read {
    padding: 0;
    margin: 0;
  }
}
/* End of the Card-2 */

/* Style of Card-3 */
.card-3 {
  height: 100%;
  margin-bottom: 30px;
  border-radius: 10px;
  overflow: hidden;
}

.card-3 > .card-img-top {
  height: 240px;
  overflow: hidden;
  flex-shrink: 0;
}

.card-3 > .card-img-top#card-image-5 {
  background: url("../../assets/img/13.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.card-3 > .card-img-top#card-image-6 {
  background: url("../../assets/img/23.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.card-3 > .card-img-top#card-image-7 {
  background: url("../../assets/img/27.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.card-3 > .card-img-top#card-image-8 {
  background: url("../../assets/img/33.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.card-3 > .card-img-top#card-image-9 {
  background: url("../../assets/img/03.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.card-3 > .card-img-top#card-image-10 {
  background: url("../../assets/img/05.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.card-3 > .card-img-top#card-image-11 {
  background: url("../../assets/img/22.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.card-3 > .card-img-top#card-image-12 {
  background: url("../../assets/img/16.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.card-3 > .card-img-top#card-image-13 {
  background: url("../../assets/img/13.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.card-3 > .card-img-top#card-image-14 {
  background: url("../../assets/img/23.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.card-3 > .card-img-top#card-image-15 {
  background: url("../../assets/img/27.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.card-3 > .card-img-top#card-image-16 {
  background: url("../../assets/img/33.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.card-3 > .card-img-top#card-image-17 {
  background: url("../../assets/img/03.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.card-3 > .card-img-top#card-image-18 {
  background: url("../../assets/img/05.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.card-3 > .card-img-top#card-image-19 {
  background: url("../../assets/img/16.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.card-3 > .card-img-top#card-image-20 {
  background: url("../../assets/img/27.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.card-3 > .card-body > .card-title {
  font-family: FuturaHeavy;
  font-size: 24px;
}

.card-3 > .card-body > .card-subtitle {
  font-family: FuturaDemi;
  font-size: 16px;
}

.card-3 > .card-body .card-text {
  font-size: 14px;
}

.card-3 > .read {
  padding: 0 1.25rem 1rem 1.25rem;
  font-family: FuturaDemi;
  font-size: 18px;
}

.card-3 > .read > a {
  border-bottom: 1.5px solid;
}

@media only screen and (max-width: 992px) {
  .card-3 {
    flex-direction: row;
    margin-bottom: 5px;
    border-radius: 3px;
  }

  .card-3 > .card-img-top {
    order: 1;
    width: 120px;
    height: 120px;
  }

  .card-3 > .card-body {
    display: flex;
    flex-direction: column;
  }

  .card-3 > .card-body > .card-title {
    flex: 1;
  }

  .card-3 > .card-body > .featured {
    margin: 0;
  }
}

@media only screen and (max-width: 576px) {
  .card-3 > .card-body > .card-subtitle {
    font-size: 12px;
  }

  .card-3 > .card-body > .card-title {
    font-size: 18px;
    max-height: 36px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .card-3 > .card-body > .featured {
    font-size: 12px;
  }
}
/* End of Card-3 */

/*  More Articles Button  */
.more-articles {
  text-align: center;
  margin-bottom: 30px;
}

.more-articles > button {
  background-color: white;
  font-family: FuturaBold;
  font-size: 20px;
  border: 5px solid black;
  padding: 12px 45px;
  margin-bottom: 30px;
  margin-top: 30px;
  letter-spacing: 4px;
}
/* End of Button */
