/*  Style of Navigation  */

body > #root > div > header {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 10px 15px -15px #999;
}

header #navbar-primary {
  padding-left: 0;
  padding-right: 0;
}

header #navbar-primary #phone-logo {
  width: 90px;
  height: 90px;
  -ms-transform: rotate(17deg);
  -webkit-transform: rotate(17deg);
  transform: rotate(14deg);
  margin-top: -21px;
}

header #navbar-primary .navbar-nav > li {
  display: inline-block;
  float: none;
}

header #navbar-primary .navbar-nav > li > a {
  font-family: FuturaBold;
  font-size: 18px;
  margin-top: 20px;
  font-weight: 800;
}

header #navbar-primary .navbar-nav > li > a > #logo-navbar-middle {
  border-radius: 100px;
  margin-top: -40px;
  border-bottom: 1px solid #ddd;
  padding: 15px;
  background: white;
  position: relative;
  z-index: 100;
}

header #navbar-primary .navbar-toggler {
  border-color: white;
  height: 50px;
}

@media only screen and (min-width: 1200px) {
  .container-fluid {
    padding-right: 60px;
    padding-left: 60px;
  }
}

@media only screen and (min-width: 768px) {
  header #navbar-primary .navbar-nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 767px) {
  body > header {
    position: fixed;
    z-index: 9999999999;
    top: 0px;
    background: white;
  }

  body > header > .container {
    width: 100%;
  }

  body > header > .container > #navbar-primary > #navbarSupportedContent {
    background: black;
    opacity: 0.8;
    padding-bottom: 30px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    margin-top: 10px;
  }

  body > header > .container > #navbar-primary > #navbarSupportedContent li {
    margin-left: 50px;
  }

  body > header > .container > #navbar-primary > #navbarSupportedContent a {
    color: white;
    font-size: 28px;
    padding-top: 10px;
  }
}

/* End of Navigation */

/* Style of Categories */

.active-category {
  display: none !important;
}

header .categories {
  padding: 80px;
  background: rgb(19, 18, 18);
  color: white;
  display: flex;
  flex-direction: row;
  font-size: 30px;
  font-family: FuturaBolder;
  width: 100%;
  position: absolute;
  z-index: 10;
}

header .categories > #first-column {
  flex: 1 1 30%;
}

header .categories ul {
  list-style: none;
}

header .categories #first-column ul > li {
  padding-top: 10px;
  padding-bottom: 10px;
}

header .categories #second-column ul > li {
  padding-top: 10px;
  padding-bottom: 10px;
}

header .categories > #second-column {
  flex: 1 1 30%;
}

header .categories > #third-column {
  flex: 1 1 40%;
  padding: 10px;
  font-family: FuturaHeavy;
}

header .categories > #third-column > .dropdown > .btn-filter {
  color: #fff;
  background-color: #121213;
  border-color: #fbfdff;
  width: 100%;
  border-radius: 0;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: FuturaDemi;
  font-size: 22px;
  letter-spacing: 3.5px;
  border: solid;
}

@media only screen and (max-width: 767px) {
  header .categories {
    top: 70px;
    padding: 30px 50px;
    height: 100%;
    overflow: hidden;
    font-size: 26px;
    letter-spacing: 1.5px;
  }

  header .categories > #third-column {
    display: none;
  }

  header .categories .back-btn {
    font-size: 24px;
  }

  header .categories #second-column {
    flex-grow: 0;
  }
}

/* End of Categories */
